/*@media (max-wdth: 768px) {
    .container {
        width: 100%;
    }
}*/
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav {
    padding: 10px 0;
    background-color:lightsteelblue;
    margin-top: 0;
}
header .nav ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header a{
    text-decoration: none;
    color:azure;
}
header .link-item:hover {
    color:aqua;
}
.introduction {
    margin: 35px 0;
    justify-content: space-around;
    display: flex;
}
.introduction img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.introduction h1 {
    font-size: 35px;
    font-weight: 900;
    word-spacing: 15px;
    letter-spacing: 7px;
    color: lightsteelblue;
}
.myName-divider {
    width: 200px;
    height: 5px;
    border-radius: 45%;
    background-color: lightsteelblue;
    margin: 0 auto;
    margin-bottom: 30px;
}
.myName-descr {
    text-align: center;
}
.divider {
    width: 100%;
    height: 12px;
    background-color: lightsteelblue;
    margin-bottom: 35px;
}
.myInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.myInfo__part {
    width: 40%;
    max-height: 400px;
}
.myInfo__part-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 25px;
    color: lightsteelblue;
}
.myInfo span {
    font-style: italic;
}
pre {
    margin: 0;
    padding: 0;
    font-style: italic;
    display: block;
    white-space: pre;
}
.container-main {
    margin-bottom: 35px;
}
.container__footer {
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsteelblue;
    padding: 30px 120px;
    font-size: 16px;
}
.container__footer a {
    color: #fff;
}
.container__footer .footer_link_minegithub {
    text-decoration: none;
    padding-left: 50px;
}
.footer_link_rsschool {
    display: block;
    width: 135px;
    height: 40px;
    /*background-size: contain;*/
    /*background-image: url(assets/svg/rs_school_js.svg);*/
    /*background-repeat: no-repeat;*/
    fill: #fff;
}
